/* Prelaoder */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #000;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid #0068b4;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* font family starts here */
@font-face {
	font-family: "Ivy Mode";
	src: url("../fonts/IvyMode-Regular.ttf");
}
/* font family ends here */
/* banner starts here */
.banner-sec {
	background-image: url("../img/banner-bg.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-sec .world-wrapper .world-flag-wrapper button {
	background: transparent;
	border: 0px;
}
.banner-sec .world-wrapper {
	position: relative;
}
.banner-sec .world-wrapper .world-flag-wrapper {
	position: absolute;
	top: 50%;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-evenly;
}
.banner-sec .all-dish-wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.banner-sec .all-dish-wrapper .dish1-wrapper {
	position: absolute;
	top: 124%;
	left: -21px;
}
.all-dish-wrapper .dish-wrapper .dish-content-wrapper {
	text-align: center;
	background: #fffdfbe3;
	position: relative;
	top: -90px;
	backdrop-filter: blur(36px);
	padding: 5px 0px;
}
.all-dish-wrapper .dish-wrapper .dish-content-wrapper h4 {
	color: #000000;
	font-size: 20px;
	font-family: "Ivy Mode";
	font-weight: 700;
	margin: 0px;
}
.banner-sec .world-flag-wrapper .usa1-flag-wrapper {
	position: absolute;
	left: 15%;
	top: -18%;
}
.banner-sec .world-flag-wrapper .italy-flag-wrapper {
	position: absolute;
	top: 26%;
	left: 19%;
}
.banner-sec .world-flag-wrapper .uk-flag-wrapper {
	left: 40%;
	position: absolute;
	top: -40%;
}
.banner-sec .world-wrapper .usa-flag-wrapper {
	position: absolute;
	left: 67%;
	top: -30%;
}
/* banner ends here */
